/*
  GENERIC Layer
  What goes in here?
  - Ground zero styles
  - Low-specificity, far-reaching
  - Resets, Normalize.css etc.

  ===EXAMPLES===

  _generic.box-sizing.scss
  -------------------------
    * {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -box-sizing: border-box;
    }

*/